@model Order

<div class="row p-2">
    <div class="col">
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="col">
        <input asp-for="LatinName" class="form-control" />
    </div>
    <div class="col">
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="col">
        <select asp-for="ClassId" class="form-control ml-1 mr-1">
            @foreach (Class c in ViewBag.Classes)
            {
                <option value="@c.Id" selected="@(Model.ClassId == c.Id)">@c.Name</option>
            }
        </select>
    </div>
    <div class="col-3">
        @if (Model.Id == 0)
        {
            <button type="submit" class="btn btn-primary">Add</button>
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        }
    </div>
</div>